<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
      window.vtState = `
{{ content }}
        `;
    </script>
    <script type="module">
        import createRouteGraphics, {
            Assets,
            AudioAsset,
            textPlugin,
            rectPlugin,
            spritePlugin,
            sliderPlugin,
            containerPlugin,
            textRevealingPlugin,
            animatedSpritePlugin,
            tweenPlugin,
            soundPlugin,
            particlesPlugin,
        } from "/RouteGraphics.js"

        await Promise.all([
            Assets.load({ alias: 'circle-blue', src: '/public/circle-blue.png' }),
            Assets.load({ alias: 'circle-red', src: '/public/circle-red.png' }),
            Assets.load({ alias: 'circle-green', src: '/public/circle-green.png' }),
            Assets.load({ alias: 'slider', src: '/public/slider.png' }),
            Assets.load({ alias: 'horizontal-idle-bar', src: '/public/horizontal_idle_bar.png' }),
            Assets.load({ alias: 'horizontal-hover-bar', src: '/public/horizontal_hover_bar.png' }),
            Assets.load({ alias: 'horizontal-idle-thumb', src: '/public/horizontal_idle_thumb.png' }),
            Assets.load({ alias: 'horizontal-hover-thumb', src: '/public/horizontal_hover_thumb.png' }),
            Assets.load({ alias: 'vertical-idle-bar', src: '/public/vertical_idle_bar.png' }),
            Assets.load({ alias: 'vertical-hover-bar', src: '/public/vertical_hover_bar.png' }),
            Assets.load({ alias: 'vertical-idle-thumb', src: '/public/vertical_idle_thumb.png' }),
            Assets.load({ alias: 'vertical-hover-thumb', src: '/public/vertical_hover_thumb.png' }),
            Assets.load({ alias: 'fighter-spritesheet', src: '/public/fighter.png' }),
            Assets.load({ alias: 'fighter-spritesheet-metadata', src: '/public/fighter.json' }),
        ]);

        // Pre-load audio files
        const audio1 = await fetch('/public/bgm-1.mp3');
        const audio1Buffer = await audio1.arrayBuffer();
        await AudioAsset.load('bgm-1', audio1Buffer);

        const audio2 = await fetch('/public/bgm-2.mp3');
        const audio2Buffer = await audio2.arrayBuffer();
        await AudioAsset.load('bgm-2', audio2Buffer);

        const audio3 = await fetch('/public/bgm-3.mp3');
        const audio3Buffer = await audio3.arrayBuffer();
        await AudioAsset.load('bgm-3', audio3Buffer);

        import { parse } from "https://cdn.jsdelivr.net/npm/yaml@2.7.1/+esm";
        const app = createRouteGraphics();

        const plugins = {
            elements: [
                textPlugin,
                rectPlugin,
                spritePlugin,
                sliderPlugin,
                containerPlugin,
                textRevealingPlugin,
                animatedSpritePlugin,
                particlesPlugin,
            ],
            animations: [
                tweenPlugin
            ],
            audio: [
                soundPlugin
            ],
        }
        await app.init({
            width: 1280,
            height: 720,
            plugins,
            eventHandler: (eventName, payload) => {
                console.log('eventHandler', eventName, payload)
            },
            useCustomTicker: true,
            debug: true,
        })
        document.body.appendChild(app.canvas);
        let index = 0
        const states = parse(window.vtState).states
        app.render({
            elements: states[index].elements ?? [],
            animations: states[index].animations ?? [], 
            audio: states[index].audio ?? [],
            global: {}
        })

        const listenEvents = () => {
            document.addEventListener("keydown",async (e) => {
                if (e.shiftKey && e.key !== "Shift"){
                    if(states.length > index+1){
                        index++
                        app.render({
                            elements: states[index].elements ?? [],
                            animations: states[index].animations ?? [], 
                            audio: states[index].audio ?? [],
                            global: {}
                        })
                        app.render({
                            elements: states[index].elements ?? [],
                            animations: states[index].animations ?? [], 
                            audio: states[index].audio ?? [],
                            global: {}
                        })
                    }
                }
                else if (e.key === "n") {
                    if(states.length > index+1){
                        index++
                        app.render({
                            elements: states[index].elements ?? [],
                            animations: states[index].animations ?? [], 
                            audio: states[index].audio ?? [],
                            global: {}
                        })
                    }
                } else if (e.key === "b") {
                    if(index - 1 >= 0 ){
                        index--;
                        app.render({
                            elements: states[index].elements ?? [],
                            animations: states[index].animations ?? [], 
                            audio: states[index].audio ?? [],
                            global: {}
                        })
                    }
                }
            });
        };
        listenEvents()
    </script>
    <link rel="stylesheet" href="/public/theme.css" />
</head>
<body>
    
</body>
</html>
