<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
      window.vtState = `
{{ content }}
        `;
    </script>
    <script type="module">
        import createRouteGraphics, {
            Assets,
            AudioAsset,
            textPlugin,
            rectPlugin,
            spritePlugin,
            videoPlugin,
            sliderPlugin,
            containerPlugin,
            textRevealingPlugin,
            animatedSpritePlugin,
            tweenPlugin,
            soundPlugin,
            particlesPlugin,
            createAssetBufferManager,
        } from "/RouteGraphics.js"


        import { parse } from "https://cdn.jsdelivr.net/npm/yaml@2.7.1/+esm";


        const assetsObject = {
            'circle-blue': { url: '/public/circle-blue.png', type: 'image/png' },
            'circle-red': { url: '/public/circle-red.png', type: 'image/png' },
            'circle-green': { url: '/public/circle-green.png', type: 'image/png' },
            'slider': { url: '/public/slider.png', type: 'image/png' },
            'horizontal-idle-bar': { url: '/public/horizontal_idle_bar.png', type: 'image/png' },
            'horizontal-hover-bar': { url: '/public/horizontal_hover_bar.png', type: 'image/png' },
            'horizontal-idle-thumb': { url: '/public/horizontal_idle_thumb.png', type: 'image/png' },
            'horizontal-hover-thumb': { url: '/public/horizontal_hover_thumb.png', type: 'image/png' },
            'vertical-idle-bar': { url: '/public/vertical_idle_bar.png', type: 'image/png' },
            'vertical-hover-bar': { url: '/public/vertical_hover_bar.png', type: 'image/png' },
            'vertical-idle-thumb': { url: '/public/vertical_idle_thumb.png', type: 'image/png' },
            'vertical-hover-thumb': { url: '/public/vertical_hover_thumb.png', type: 'image/png' },
            'fighter-spritesheet': { url: '/public/fighter.png', type: 'image/png' },
            'bgm-1': { url: '/public/bgm-1.mp3', type: 'audio/mpeg' },
            'bgm-2': { url: '/public/bgm-2.mp3', type: 'audio/mpeg' },
            'bgm-3': { url: '/public/bgm-3.mp3', type: 'audio/mpeg' },
        }

        // in playwright will fail to load video, so we skip loading video samples in that case
        if (!window?.RTGL_VT_DEBUG) {
          Object.assign(assetsObject, {
            'video-sample': { url: '/public/video_sample.mp4', type: 'video/mp4' },
            'video-sample-2': { url: '/public/video_sample_2.mp4', type: 'video/mp4' },
          })
        }

        const assetBufferManager = createAssetBufferManager();
        await assetBufferManager.load({
        });

        const app = createRouteGraphics();
        const plugins = {
            elements: [
                textPlugin,
                rectPlugin,
                spritePlugin,
                videoPlugin,
                sliderPlugin,
                containerPlugin,
                textRevealingPlugin,
                animatedSpritePlugin,
                particlesPlugin,
            ],
            animations: [
                tweenPlugin
            ],
            audio: [
                soundPlugin
            ],
        }
        let index = 0
        const states = parse(window.vtState).states
        await app.init({
            width: 1280,
            height: 720,
            plugins,
            eventHandler: (eventName, payload) => {
                console.log('eventHandler', eventName, payload)
                app.render(
                    {
                        elements: [
                            ...(states[index].elements ?? []),
                            {
                                type: 'text',
                                id: 'event-log',
                                x: 500,
                                y: 400,
                                width: 300,
                                content: `Event: ${eventName}, Payload: ${JSON.stringify(payload, null, 2)}`,
                                textStyle: {
                                    fill: '#ffffff',
                                    fontSize: 24,
                                    breakWords: true,
                                }
                            }
                        ],
                        // No animations to not get stuck in an infinite loop
                        animations: [], 
                        audio: states[index].audio ?? [],
                        global: states[index].global ?? {}
                    }
                )
            },
            debug: window?.RTGL_VT_DEBUG ?? false,
        });
        await app.loadAssets(assetBufferManager.getBufferMap());
        document.body.appendChild(app.canvas);

        app.render({
            elements: states[index].elements ?? [],
            animations: states[index].animations ?? [], 
            audio: states[index].audio ?? [],
            global: states[index].global ?? {}
        })

        const listenEvents = () => {
            document.addEventListener("keydown",async (e) => {
                if (e.shiftKey && e.key !== "Shift"){
                    if(states.length > index+1){
                        index++
                        app.render({
                            elements: states[index].elements ?? [],
                            animations: states[index].animations ?? [], 
                            audio: states[index].audio ?? [],
                            global: states[index].global ?? {}
                        })
                        app.render({
                            elements: states[index].elements ?? [],
                            animations: states[index].animations ?? [], 
                            audio: states[index].audio ?? [],
                            global: states[index].global ?? {}
                        })
                    }
                }
                else if (e.key === "n") {
                    if(states.length > index+1){
                        index++
                        app.render({
                            elements: states[index].elements ?? [],
                            animations: states[index].animations ?? [], 
                            audio: states[index].audio ?? [],
                            global: states[index].global ?? {}
                        })
                    }
                } else if (e.key === "b") {
                    if(index - 1 >= 0 ){
                        index--;
                        app.render({
                            elements: states[index].elements ?? [],
                            animations: states[index].animations ?? [], 
                            audio: states[index].audio ?? [],
                            global: states[index].global ?? {}
                        })
                    }
                }
            });
        };
        listenEvents()
    </script>
    <link rel="stylesheet" href="/public/theme.css" />
</head>
<body>
    
</body>
</html>
