name: CI
on:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Setup Bun
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.5

      # Install dependencies from root
      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Lint
        run: bun run lint
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.5

      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Run unit tests
        run: bun run test

      - name: Install Dependencies
        run: bun install -g rtgl

      - name: Run Visual Tests (Docker)
        env:
          RTGL_VT_DEBUG: true
        run: bun run vt:report

      - name: Upload VT Images as Artifacts
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: vt-images-${{ github.run_number }}
          path: .rettangoli/
          include-hidden-files: true
          retention-days: 30
