name: CI/CD
on:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Setup Bun
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.2

      # Install dependencies from root
      - name: Install Dependencies
        run: bun install --frozen-lockfile
      
      - name: Install rtgl
        run: bun install -g rtgl

      - name: Lint
        run: bun run lint
      
      - name: Run vt:report
        run: bun run vt:report