name: CI/CD
on:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Setup Bun
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.2

      # Install dependencies from root
      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Lint
        run: bun run lint
  visualTest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Setup Bun
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.2

      # Install dependencies from root
      - name: Install Dependencies
        run: bun install --frozen-lockfile

      # Install Node.js for Sharp
      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      # Install Sharp globally with npm
      - name: Install Sharp
        run: |
          export SHARP_IGNORE_GLOBAL_LIBVIPS=1
          npm install -g sharp
          npm install --platform=linux --arch=x64 sharp

      - name: Install Playwright browsers
        run:  npx playwright install --with-deps

      - name: Install rtgl
        run: bun install -g rtgl

      - name: Run rtgl vt report
        run: bun run vt:report
