name: CI/CD
on:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Setup Bun
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.2

      # Install dependencies from root
      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Lint
        run: bun run lint
  visualTest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Setup Bun
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.2

      # Install dependencies from root
      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Install verbose logging
        run: npm install --ignore-scripts=false --foreground-scripts --verbose sharp

      - name: Install linux runtime
        run: npm install --platform=linux --arch=x64 sharp

      - name: Install rtgl
        run: npm install -g rtgl

      - name: Install Playwright browsers
        run:  npx playwright@1.57.0 install --with-deps

      - name: Run vt:report
        run: bun run vt:report

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: vt-report
          path: ./
          retention-days: 30

  download-artifacts:
    needs: visualTest
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./

      - name: List all downloaded files
        run: |
          echo "All downloaded files:"
          find ./ -type f | sort