name: CI/CD
on:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Setup Bun
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.2

      # Install dependencies from root
      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Lint
        run: bun run lint
  visualTest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true 

      # Setup Bun
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.2

      # Install dependencies from root
      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Install verbose logging
        run: npm install --ignore-scripts=false --foreground-scripts --verbose sharp

      - name: Install linux runtime
        run: npm install --platform=linux --arch=x64 sharp

      - name: Install rtgl
        run: npm install -g rtgl

      - name: Install Playwright browsers
        run:  npx playwright@1.57.0 install

      - name: Run vt generate
        run: bun run build && rtgl vt generate --screenshot-wait-time 8000
      
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: vt-report
          path: ./rettangoli
          retention-days: 30

      - name: Run vt report
        run: rtgl vt report
