name: CI
on:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Setup Bun
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.2

      # Install dependencies from root
      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Lint
        run: bun run lint
  visualTest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true 

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.2

      - name: Install Dependencies
        run: bun install --frozen-lockfile

    
      - name: Install rtgl
        run: bun install -g rtgl

      - name: Install Playwright browsers
        run:  npx playwright@1.57.0 install

      - name: Install Asian fonts
        run: |
          sudo apt-get update
          sudo apt-get install -y fonts-noto-cjk

      - name: Run vt report with debug
        run: bun run esbuild.js && RTGL_VT_DEBUG=true rtgl vt generate --screenshot-wait-time 13000 && rtgl vt report

      - name: Upload VT Images as Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: vt-images-${{ github.run_number }}
          path: |
            .rettangoli/vt/_site/reference/
            .rettangoli/vt/_site/candidate/
          retention-days: 30
