name: CI
on:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Setup Bun
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.2

      # Install dependencies from root
      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Lint
        run: bun run lint
  visualTest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true 

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.2

      - name: Install Dependencies
        run: bun install --frozen-lockfile

    
      - name: Install rtgl
        run: npm install -g rtgl

      - name: Install Playwright browsers
        run:  npx playwright@1.57.0 install

      - name: Run vt report with debug
        run: bun run esbuild.js && rtgl vt generate --screenshot-wait-time 14000 && rtgl vt report
